In [1]:
!pip install numpy
!pip install pandas

Requirement already satisfied: numpy in d:\work\03_projects\17_price_predictor_03\model\env\lib\site-packages (2.2.4)
Requirement already satisfied: pandas in d:\work\03_projects\17_price_predictor_03\model\env\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in d:\work\03_projects\17_price_predictor_03\model\env\lib\site-packages (from pandas) (2.2.4)
Requirement already satisfied: python-dateutil>=2.8.2 in d:\work\03_projects\17_price_predictor_03\model\env\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in d:\work\03_projects\17_price_predictor_03\model\env\lib\site-packages (from pandas) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in d:\work\03_projects\17_price_predictor_03\model\env\lib\site-packages (from pandas) (2025.1)
Requirement already satisfied: six>=1.5 in d:\work\03_projects\17_price_predictor_03\model\env\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [2]:
import numpy as np
import pandas as pd

In [4]:
import pandas as pd

url = "https://raw.githubusercontent.com/Sanjula-Madushanka/Price-Predictor/refs/heads/main/cleaned_data.csv"
data = pd.read_csv(url, encoding='latin-1')
print(data.head())

  \tPrice\tBaths\tLand size\tBeds\tHouse size\tSeller_type\ttown\tdistrict
0  0\t5400000\t1\t50.0\t3\t1600.0\tMember\t Matar...
1  1\t16800000\t3\t8.0\t3\t1480.0\tPremium-Member...
2  2\t20000000\t2\t20.0\t3\t2800.0\tMember\t Kela...
3  3\t187000000\t5\t22.0\t5\t4000.0\tPremium-Memb...
4  4\t1300000\t1\t6.3\t2\t900.0\tMember\t Dehiwal...

In [6]:
data = pd.read_csv(url, encoding='latin-1', sep="\t")
print(data.head())

   Unnamed: 0      Price  Baths Land size  Beds  House size     Seller_type  \
0           0    5400000      1      50.0     3      1600.0          Member
1           1   16800000      3       8.0     3      1480.0  Premium-Member
2           2   20000000      2      20.0     3      2800.0          Member
3           3  187000000      5      22.0     5      4000.0  Premium-Member
4           4    1300000      1       6.3     2       900.0          Member

            town   district
0    Matara City     Matara
1   Athurugiriya    Colombo
2       Kelaniya    Gampaha
3      Colombo 6    Colombo
4       Dehiwala    Colombo

In [5]:
data.isnull()

,Unnamed: 0,Price,Baths,Land size,Beds,House size,Seller_type,town,district
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
15264,False,False,False,False,False,False,False,False,False
15265,False,False,False,False,False,False,False,False,False
15266,False,False,False,False,False,False,False,False,False
15267,False,False,False,False,False,False,False,False,False
15268,False,False,False,False,False,False,False,False,False

In [2]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15269 entries, 0 to 15268
Data columns (total 1 columns):
 #   Column                                                            Non-Null Count  Dtype
---  ------                                                            --------------  -----
 0   	Price	Baths	Land size	Beds	House size	Seller_type	town	district  15269 non-null  object
dtypes: object(1)
memory usage: 119.4+ KB

In [3]:
data.head(2)

  \tPrice\tBaths\tLand size\tBeds\tHouse size\tSeller_type\ttown\tdistrict
0  0\t5400000\t1\t50.0\t3\t1600.0\tMember\t Matar...
1  1\t16800000\t3\t8.0\t3\t1480.0\tPremium-Member...

In [7]:
data = pd.read_csv(url, encoding='latin-1', sep="\t")
print(data.head())

   Unnamed: 0      Price  Baths Land size  Beds  House size     Seller_type  \
0           0    5400000      1      50.0     3      1600.0          Member
1           1   16800000      3       8.0     3      1480.0  Premium-Member
2           2   20000000      2      20.0     3      2800.0          Member
3           3  187000000      5      22.0     5      4000.0  Premium-Member
4           4    1300000      1       6.3     2       900.0          Member

            town   district
0    Matara City     Matara
1   Athurugiriya    Colombo
2       Kelaniya    Gampaha
3      Colombo 6    Colombo
4       Dehiwala    Colombo

In [8]:
data.head(2)

,Unnamed: 0,Price,Baths,Land size,Beds,House size,Seller_type,town,district
0,0,5400000,1,50.0,3,1600.0,Member,Matara City,Matara
1,1,16800000,3,8.0,3,1480.0,Premium-Member,Athurugiriya,Colombo

In [9]:
data['Land size'] = pd.to_numeric(data['Land size'].astype(str).str.replace(',', '', regex=True), errors='coerce')

In [10]:
numeric_data = data.select_dtypes(include=['number'])  # Keep only numeric columns
correlation = numeric_data.corr()['Price']
print(correlation)

Unnamed: 0   -0.016914
Price         1.000000
Baths         0.455906
Land size     0.022072
Beds          0.383324
House size    0.398692
Name: Price, dtype: float64

In [11]:
data['town'].value_counts()

town
Piliyandala     2806
Malabe          1572
Negombo         1363
Talawatugoda    1296
Kottawa          750
                ...
Medirigiriya       1
Eppawala           1
Galigamuwa         1
Galgamuwa          1
Wellawaya          1
Name: count, Length: 172, dtype: int64

In [12]:
data=data.drop(columns=['Seller_type','Unnamed: 0'])

In [13]:
data.head(2)

      Price  Baths  Land size  Beds  House size           town   district
0   5400000      1       50.0     3      1600.0    Matara City     Matara
1  16800000      3        8.0     3      1480.0   Athurugiriya    Colombo

In [14]:
district_dummies = pd.get_dummies(data["district"], prefix="district")
data = pd.concat([data, district_dummies], axis=1)

In [12]:
print(data[["district", "town", "town_list"]].head(10))

KeyError: "['town_list'] not in index"

In [15]:
district_town_map = {
    "Ampara": ["Ampara City", "Akkarepattu", "Kalmunai"],
    "Anuradhapura": ["Anuradhapura City", "Mihintale", "Nochchiyagama", "Eppawala"],
    "Badulla": ["Badulla City", "Bandarawela", "Welimada", "Haputale"],
    "Batticaloa": ["Batticaloa City"],
    "Colombo": ["Colombo 1", "Colombo 2", "Colombo 3", "Colombo 4", "Colombo 5", "Colombo 6", "Colombo 7", "Colombo 8", "Colombo 9", "Colombo 10", "Colombo 12", "Colombo 13", "Colombo 14", "Colombo 15", "Dehiwala", "Mount Lavinia", "Nugegoda", "Kohuwala", "Rajagiriya", "Wellampitiya"],
    "Galle": ["Galle City", "Ahangama", "Hikkaduwa", "Karapitiya", "Dikwella"],
    "Gampaha": ["Gampaha City", "Ja-Ela", "Ragama", "Kadawatha", "Kiribathgoda", "Kelaniya", "Negombo", "Minuwangoda", "Divulapitiya", "Seeduwa", "Wattala"],
    "Hambantota": ["Hambantota City", "Tangalla", "Ambalantota", "Kataragama"],
    "Jaffna": ["Jaffna City", "Nallur"],
    "Kalutara": ["Kalutara City", "Beruwala", "Bandaragama", "Matugama", "Wadduwa"],
    "Kandy": ["Kandy City", "Peradeniya", "Katugastota", "Pilimatalawa", "Gampola", "Gelioya", "Digana", "Menikhinna"],
    "Kegalle": ["Kegalle City", "Warakapola", "Rambukkana"],
    "Kurunegala": ["Kurunegala City", "Narammala", "Pannala", "Wariyapola", "Kuliyapitiya"],
    "Mannar": ["Mannar City"],
    "Matale": ["Matale City", "Galewela"],
    "Matara": ["Matara City", "Weligama", "Dikwella", "Mirissa", "Kamburugamuwa", "Deniyaya", "Akuressa", "Devinuwara", "Kekanadura", "Thelijjawila", "Pasgoda", "Urubokka", "Thihagoda", "Malimbada", "Hakmana", "Makandura"],
    "Monaragala": ["Monaragala City", "Wellawaya", "Bibile"],
    "Mullativu": ["Mullativu City"],
    "Nuwara Eliya": ["Nuwara Eliya City", "Nawalapitiya", "Hatton"],
    "Polonnaruwa": ["Polonnaruwa City", "Medirigiriya"],
    "Puttalam": ["Puttalam City", "Wennappuwa", "Chilaw"],
    "Ratnapura": ["Ratnapura City", "Balangoda", "Pelmadulla"],
    "Trincomalee": ["Trincomalee City"],
    "Vavuniya": ["Vavuniya City"]
}

data["town_list"] = data["district"].map(district_town_map)

In [16]:
data.head(2)

,Price,Baths,Land size,Beds,House size,town,district,district_ Ampara,district_ Anuradhapura,district_ Badulla,...,district_ Matara,district_ Monaragala,district_ Mullativu,district_ Nuwara Eliya,district_ Polonnaruwa,district_ Puttalam,district_ Ratnapura,district_ Trincomalee,district_ Vavuniya,town_list
0,5400000,1,50.0,3,1600.0,Matara City,Matara,False,False,False,...,True,False,False,False,False,False,False,False,False,NaN
1,16800000,3,8.0,3,1480.0,Athurugiriya,Colombo,False,False,False,...,False,False,False,False,False,False,False,False,False,NaN

In [17]:
data["town_list"] = data["town_list"].apply(lambda x: x if isinstance(x, list) else [])

In [18]:
print(data[["district", "town", "town_list"]].head(10))

    district           town town_list
0     Matara    Matara City        []
1    Colombo   Athurugiriya        []
2    Gampaha       Kelaniya        []
3    Colombo      Colombo 6        []
4    Colombo       Dehiwala        []
5    Colombo   Talawatugoda        []
6      Kandy     Kandy City        []
7    Colombo    Piliyandala        []
8    Colombo   Talawatugoda        []
9    Gampaha      Kadawatha        []

In [19]:
data["town_list"] = data["town_list"].apply(lambda x: x if isinstance(x, list) else [])

In [20]:
print(data[["district", "town", "town_list"]].head(10))

    district           town town_list
0     Matara    Matara City        []
1    Colombo   Athurugiriya        []
2    Gampaha       Kelaniya        []
3    Colombo      Colombo 6        []
4    Colombo       Dehiwala        []
5    Colombo   Talawatugoda        []
6      Kandy     Kandy City        []
7    Colombo    Piliyandala        []
8    Colombo   Talawatugoda        []
9    Gampaha      Kadawatha        []

In [21]:
print(data["district"].unique())  # Check unique district names
print(district_town_map.keys())  # Use this instead of townData

['  Matara' '  Colombo' '  Gampaha' '  Kandy' '  Jaffna' '  Galle'
 '  Kalutara' '  Kurunegala' '  Puttalam' '  Monaragala' '  Kegalle'
 '  Matale' '  Badulla' '  Hambantota' '  Ratnapura' '  Anuradhapura'
 '  Batticaloa' '  Nuwara Eliya' '  Polonnaruwa' '  Mannar'
 '  Trincomalee' '  Ampara' '  Mullativu' '  Vavuniya']
dict_keys(['Ampara', 'Anuradhapura', 'Badulla', 'Batticaloa', 'Colombo', 'Galle', 'Gampaha', 'Hambantota', 'Jaffna', 'Kalutara', 'Kandy', 'Kegalle', 'Kurunegala', 'Mannar', 'Matale', 'Matara', 'Monaragala', 'Mullativu', 'Nuwara Eliya', 'Polonnaruwa', 'Puttalam', 'Ratnapura', 'Trincomalee', 'Vavuniya'])

In [22]:
data["town_list"] = data["district"].apply(lambda x: district_town_map.get(x.strip(), []))  # Ensure matching
# Ensure matching

In [23]:
data.shape

(15269, 32)

In [24]:
x=data.drop('Price',axis=1)
y=data['Price']

In [25]:
!pip install scikit-learn

Requirement already satisfied: scikit-learn in d:\work\03_projects\17_price_predictor_03\model\env\lib\site-packages (1.6.1)
Requirement already satisfied: numpy>=1.19.5 in d:\work\03_projects\17_price_predictor_03\model\env\lib\site-packages (from scikit-learn) (2.2.4)
Requirement already satisfied: scipy>=1.6.0 in d:\work\03_projects\17_price_predictor_03\model\env\lib\site-packages (from scikit-learn) (1.15.2)
Requirement already satisfied: joblib>=1.2.0 in d:\work\03_projects\17_price_predictor_03\model\env\lib\site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in d:\work\03_projects\17_price_predictor_03\model\env\lib\site-packages (from scikit-learn) (3.6.0)

In [26]:
from sklearn.model_selection import train_test_split
x_train, x_test , y_train , y_test = train_test_split(x,y, test_size=0.25)

In [27]:
x_train.shape, x_test.shape

((11451, 31), (3818, 31))

In [28]:
def model_acc(model):
  model.fit(x_train, y_train)
  acc= model.score(x_test, y_test)
  print(str(model)+ '-->' +str(acc))

In [29]:
from sklearn.preprocessing import MultiLabelBinarizer

mlb = MultiLabelBinarizer()
town_list_encoded = mlb.fit_transform(data["town_list"])

# Convert to DataFrame
town_list_df = pd.DataFrame(town_list_encoded, columns=mlb.classes_)

# Drop old column & Concatenate new columns
data = data.drop(columns=["town_list"])
data = pd.concat([data, town_list_df], axis=1)

print("âœ… 'town_list' column successfully transformed!")

âœ… 'town_list' column successfully transformed!

In [30]:
x['town_list'] = x['town_list'].apply(lambda v: ','.join(v) if isinstance(v, list) else v)

In [31]:
x = pd.get_dummies(x, drop_first=True)

In [32]:
print(x.columns)

Index(['Baths', 'Land size', 'Beds', 'House size', 'district_  Ampara',
       'district_  Anuradhapura', 'district_  Badulla',
       'district_  Batticaloa', 'district_  Colombo', 'district_  Galle',
       ...
       'town_list_Matale City,Galewela',
       'town_list_Matara City,Weligama,Dikwella,Mirissa,Kamburugamuwa,Deniyaya,Akuressa,Devinuwara,Kekanadura,Thelijjawila,Pasgoda,Urubokka,Thihagoda,Malimbada,Hakmana,Makandura',
       'town_list_Monaragala City,Wellawaya,Bibile',
       'town_list_Mullativu City',
       'town_list_Nuwara Eliya City,Nawalapitiya,Hatton',
       'town_list_Polonnaruwa City,Medirigiriya',
       'town_list_Puttalam City,Wennappuwa,Chilaw',
       'town_list_Ratnapura City,Balangoda,Pelmadulla',
       'town_list_Trincomalee City', 'town_list_Vavuniya City'],
      dtype='object', length=245)

In [33]:
from sklearn.preprocessing import LabelEncoder  # Import LabelEncoder

In [34]:
from sklearn.preprocessing import LabelEncoder  # Import LabelEncoder

# Check if town_list_ and district_ columns exist
town_columns = x.filter(like='town_list_').columns
district_columns = x.filter(like='district_').columns

if not town_columns.empty and not district_columns.empty:
    # Reverse One-Hot Encoding
    x['town'] = x[town_columns].idxmax(axis=1).str.replace('town_list_', '')
    x['district'] = x[district_columns].idxmax(axis=1).str.replace('district_', '')
    
    # Apply Label Encoding
    encoder = LabelEncoder()
    x['town'] = encoder.fit_transform(x['town'])
    x['district'] = encoder.fit_transform(x['district'])

    print("âœ… Label Encoding successfully applied!")

else:
    print("âŒ Error: town_list_ or district_ columns not found!")

âœ… Label Encoding successfully applied!

In [35]:
from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder()

# Reverse One-Hot Encoding
x['town'] = x.filter(like='town_list_').idxmax(axis=1).str.replace('town_list_', '', regex=True)
x['district'] = x.filter(like='district_').idxmax(axis=1).str.replace('district_', '', regex=True)

# Apply Label Encoding
x['town'] = encoder.fit_transform(x['town'])
x['district'] = encoder.fit_transform(x['district'])

In [36]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor

# Split Data
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25, random_state=42)

# Train Model
rf = RandomForestRegressor()
model_acc(rf)

RandomForestRegressor()-->0.5981918226806475

In [37]:
# ðŸ”¹ Import required libraries
from sklearn.model_selection import GridSearchCV, train_test_split
from sklearn.ensemble import RandomForestRegressor

# ðŸ”¹ Split the dataset into training and testing sets
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

# ðŸ”¹ Initialize RandomForestRegressor
rf = RandomForestRegressor()

# ðŸ”¹ Define Hyperparameter Grid for Tuning
parameters = {
    'n_estimators': [10, 50, 100],  # Number of trees in the forest
    'criterion': ['squared_error', 'absolute_error', 'poisson']  # Different loss functions
}

# ðŸ”¹ Perform Grid Search for best parameters
grid_obj = GridSearchCV(estimator=rf, param_grid=parameters, cv=5, scoring='r2', n_jobs=-1)
grid_fit = grid_obj.fit(x_train, y_train)

# ðŸ”¹ Get the Best Model
best_model = grid_fit.best_estimator_

# ðŸ”¹ Output the Best Parameters
print("Best Parameters:", grid_fit.best_params_)
print("Best Model:", best_model)

D:\Work\03_Projects\17_price_predictor_03\model\env\Lib\site-packages\sklearn\model_selection\_validation.py:528: FitFailedWarning:
15 fits failed out of a total of 45.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
15 fits failed with the following error:
Traceback (most recent call last):
  File "D:\Work\03_Projects\17_price_predictor_03\model\env\Lib\site-packages\sklearn\model_selection\_validation.py", line 866, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "D:\Work\03_Projects\17_price_predictor_03\model\env\Lib\site-packages\sklearn\base.py", line 1389, in wrapper
    return fit_method(estimator, *args, **kwargs)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "D:\Work\03_Projects\17_price_predictor_03\model\env\Lib\site-packages\sklearn\ensemble\_forest.py", line 375, in fit
    estimator._compute_missing_values_in_feature_mask(
  File "D:\Work\03_Projects\17_price_predictor_03\model\env\Lib\site-packages\sklearn\tree\_classes.py", line 214, in _compute_missing_values_in_feature_mask
    assert_all_finite(X, **common_kwargs)
  File "D:\Work\03_Projects\17_price_predictor_03\model\env\Lib\site-packages\sklearn\utils\validation.py", line 210, in assert_all_finite
    _assert_all_finite(
  File "D:\Work\03_Projects\17_price_predictor_03\model\env\Lib\site-packages\sklearn\utils\validation.py", line 120, in _assert_all_finite
    _assert_all_finite_element_wise(
  File "D:\Work\03_Projects\17_price_predictor_03\model\env\Lib\site-packages\sklearn\utils\validation.py", line 169, in _assert_all_finite_element_wise
    raise ValueError(msg_err)
ValueError: Input X contains NaN.
RandomForestRegressor does not accept missing values encoded as NaN natively. For supervised learning, you might want to consider sklearn.ensemble.HistGradientBoostingClassifier and Regressor which accept missing values encoded as NaNs natively. Alternatively, it is possible to preprocess the data, for instance by using an imputer transformer in a pipeline or drop samples with missing values. See https://scikit-learn.org/stable/modules/impute.html You can find a list of all estimators that handle NaN values at the following page: https://scikit-learn.org/stable/modules/impute.html#estimators-that-handle-nan-values

  warnings.warn(some_fits_failed_message, FitFailedWarning)
D:\Work\03_Projects\17_price_predictor_03\model\env\Lib\site-packages\sklearn\model_selection\_search.py:1108: UserWarning: One or more of the test scores are non-finite: [0.67292243 0.68866727 0.68642305        nan        nan        nan
 0.66011387 0.6828435  0.69202163]
  warnings.warn(

Best Parameters: {'criterion': 'poisson', 'n_estimators': 100}
Best Model: RandomForestRegressor(criterion='poisson')

In [37]:
from sklearn.impute import SimpleImputer
import numpy as np

# ðŸ”¹ Handle missing values by filling with the median value of each column
imputer = SimpleImputer(strategy='median')
x = imputer.fit_transform(x)  # Convert to numpy array

# ðŸ”¹ Convert back to Pandas DataFrame (if needed)
x = pd.DataFrame(x)

# ðŸ”¹ Confirm no NaNs remain
print(f"Are there any NaN values? {np.isnan(x).sum().sum() > 0}")  # Should print False

Are there any NaN values? False

In [38]:
# ðŸ”¹ Import required libraries
from sklearn.model_selection import GridSearchCV, train_test_split
from sklearn.ensemble import RandomForestRegressor

# ðŸ”¹ Split the dataset into training and testing sets
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

# ðŸ”¹ Initialize RandomForestRegressor
rf = RandomForestRegressor()

# ðŸ”¹ Define Hyperparameter Grid for Tuning
parameters = {
    'n_estimators': [10, 50, 100],  # Number of trees in the forest
    'criterion': ['squared_error', 'absolute_error', 'poisson']  # Different loss functions
}

# ðŸ”¹ Perform Grid Search for best parameters
grid_obj = GridSearchCV(estimator=rf, param_grid=parameters, cv=5, scoring='r2', n_jobs=-1)
grid_fit = grid_obj.fit(x_train, y_train)

# ðŸ”¹ Get the Best Model
best_model = grid_fit.best_estimator_

# ðŸ”¹ Output the Best Parameters
print("Best Parameters:", grid_fit.best_params_)
print("Best Model:", best_model)

Best Parameters: {'criterion': 'poisson', 'n_estimators': 100}
Best Model: RandomForestRegressor(criterion='poisson')

In [49]:
import pickle

# ðŸ”¹ Save the trained model
with open('predictor_02.pickle', 'wb') as file:
    pickle.dump(best_model, file)

print("âœ… Model successfully saved as 'predictor_02.pickle'")

âœ… Model successfully saved as 'predictor_02.pickle'

In [45]:
# ðŸ”¹ Load the model back
with open('predictor_02.pickle', 'rb') as file:
    loaded_model = pickle.load(file)

# ðŸ”¹ Check model performance
print("âœ… Loaded Model Score:", loaded_model.score(x_test, y_test))

âœ… Loaded Model Score: 0.5880150017893536

In [46]:
import pickle

with open('model/predictor_02.pickle', 'rb') as f:
    model = pickle.load(f)

print(model.feature_importances_)

FileNotFoundError: [Errno 2] No such file or directory: 'model/predictor_02.pickle'

In [47]:
import os

print(os.path.exists("model/predictor_02.pickle"))  # True à¶±à¶¸à·Š file à¶‘à¶š à¶­à·’à¶ºà¶±à·€à·

False

In [50]:
import os

file_path = "model/predictor_02.pickle"
print(f"File exists: {os.path.exists(file_path)}")

File exists: False

In [52]:
import os
print("Current Working Directory:", os.getcwd())

Current Working Directory: D:\Work\03_Projects\19_price_predictor_04(_)\model

In [55]:
import pickle

with open('predictor_02.pickle', 'rb') as f:  # ðŸ”¹ 'model/' remove à¶šà¶»à¶½à·
    model = pickle.load(f)

print(model.feature_importances_)

[1.15057161e-01 1.22715933e-01 2.85318041e-02 4.80344941e-01
 1.00722093e-05 7.80560059e-05 1.33942922e-05 1.58577581e-05
 1.34554555e-02 1.67831807e-04 1.11416895e-03 4.30146799e-05
 6.73459836e-05 3.18575493e-04 1.83089184e-04 4.95115848e-04
 1.48946953e-04 1.30359402e-04 1.82168601e-05 5.76262653e-05
 1.93769909e-05 0.00000000e+00 1.44932219e-04 3.96986486e-06
 1.70337600e-05 8.44966998e-05 3.78896100e-06 6.93895191e-09
 0.00000000e+00 1.50021536e-05 1.98340713e-06 2.10786428e-06
 1.27517980e-04 8.77453356e-06 8.98238373e-06 1.75911178e-04
 3.03982467e-04 8.39166586e-05 1.29502985e-03 7.46682965e-05
 1.38975260e-05 2.74284590e-05 1.25551182e-05 5.50783604e-04
 1.69290763e-05 1.36121138e-04 1.03726141e-02 7.09430912e-06
 6.16988268e-06 3.83217661e-05 1.54131347e-06 3.50534714e-03
 7.02104943e-06 9.85793522e-06 6.45056251e-05 3.92393834e-04
 2.86576493e-05 1.19285900e-05 4.59253187e-04 5.04440890e-04
 2.93667089e-06 3.42724317e-03 6.03924294e-03 1.98622564e-02
 5.20114335e-03 2.65400370e-02 5.28432820e-03 5.06688685e-04
 3.02962053e-06 2.22497299e-06 2.51831310e-07 5.80441530e-03
 6.78757562e-05 1.09627959e-04 1.20588409e-04 4.47098670e-05
 1.18269156e-04 1.08058262e-06 4.51935746e-07 9.53532958e-05
 7.58366800e-06 1.26325988e-07 4.79717471e-07 2.92138089e-06
 4.45685678e-06 5.11216252e-04 2.75929613e-08 4.42851973e-04
 1.42482528e-04 2.69146601e-04 1.26423500e-05 1.35878609e-09
 1.15137452e-04 1.32510149e-06 3.54694454e-05 2.17500203e-05
 0.00000000e+00 0.00000000e+00 3.37676181e-05 1.25241451e-04
 3.78924941e-07 3.02650281e-03 1.48427118e-04 4.51749775e-10
 3.61955846e-06 7.78667625e-04 8.18453141e-05 1.57282122e-03
 9.36924032e-06 6.13156874e-04 1.25484525e-05 1.69305450e-04
 1.24129928e-05 2.35677918e-03 1.13319940e-03 2.66812429e-04
 9.97950241e-06 1.59289485e-04 6.54245931e-05 5.59574631e-04
 0.00000000e+00 6.71776922e-04 1.59348384e-03 1.32233986e-03
 1.13885803e-06 4.01815506e-04 5.64033590e-04 6.73650748e-03
 5.84886445e-03 5.66180254e-04 5.02861015e-05 7.96932572e-04
 3.75125599e-05 2.15681812e-03 0.00000000e+00 1.85096245e-03
 1.11809086e-04 6.16672712e-05 8.64858367e-05 8.79717689e-04
 9.96601518e-06 5.87915498e-06 4.50901325e-08 4.37539513e-05
 1.81661965e-05 0.00000000e+00 1.28129713e-04 2.02753382e-05
 8.59158398e-06 1.27410930e-03 3.56425809e-03 0.00000000e+00
 0.00000000e+00 7.78256234e-05 3.77747267e-03 3.48373661e-05
 1.38678519e-03 2.58701223e-07 7.85261424e-04 6.42436714e-07
 4.84731216e-03 1.51157978e-04 5.94606241e-04 1.99743591e-06
 7.03342748e-04 0.00000000e+00 1.74026810e-02 4.89322965e-07
 8.99763721e-05 1.81010217e-05 1.70673594e-02 1.84948247e-06
 1.12938599e-06 6.90989712e-07 6.88372164e-04 1.92700417e-03
 9.77849798e-06 1.26253262e-03 2.10183532e-04 1.91339286e-05
 5.75893466e-05 4.60650039e-03 1.15825928e-05 3.77960409e-05
 4.03170778e-06 9.74884772e-07 4.87851995e-08 1.51338692e-04
 4.62630514e-05 1.47080845e-06 1.31688271e-05 2.78752502e-03
 1.25473059e-05 8.53124488e-05 1.18100404e-05 6.39486439e-04
 5.52177277e-07 6.41786179e-06 7.73697293e-08 7.76333274e-05
 1.68602605e-05 1.05164560e-05 1.39656211e-02 1.83592688e-04
 1.81266318e-03 3.21400625e-05 6.24515789e-05 4.19136077e-04
 1.61140602e-04 3.59462006e-04 1.66527000e-04 8.28064052e-05
 2.48125212e-05 5.14393672e-05 2.63253782e-05 0.00000000e+00
 1.85049651e-04 3.50368164e-06 2.79843323e-05 4.94143671e-05
 8.14110695e-06 5.18040100e-09 1.09102567e-04 1.19287181e-05
 8.92752577e-06 1.77353517e-02 2.07769000e-04 1.06837801e-03
 4.56754881e-05 9.03859334e-05 3.23874075e-04 1.47673732e-04
 3.79105993e-04 1.60144810e-04 1.55661915e-04 1.36265894e-05
 6.93582570e-05 1.73766579e-05 0.00000000e+00 1.63070034e-04
 2.89880703e-06 2.73384388e-05 4.89298459e-05 7.80619964e-06
 5.09879455e-10 2.58624738e-03 3.10154988e-03]